<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
	This is a Making Awesome Enginerding Learning Funscursion, affectionately and
	enthusiastically brought to you by
	<a href="http://creatigeek.com/">creatigeek</a> aka 
	<a href="http://www.linkedin.com/in/vanessapwallis">Vanessa P Wallis</a>   
</p>