<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dearest Sandwich Maker of Awesome,</h1>
    <p>
      <%= @user.name %> graciously requests your expertise and deft skills in the making of the following sandwich:<br/>
    </p>
    <p>
      ~~~::: <%= @sandwichpost.sandwich_type %> :::~~~
    </p>
    <p>Thank you! (: <3 </p>
		
	<p> 
		<%= @sandwichpost.quote %>
	</p>
  </body>
</html>