<li>
  <span class="sandwich_type">
	  <%= sandwichpost.sandwich_type %>
  </span>
  <span class="quote">
	  <%= sandwichpost.quote %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(sandwichpost.created_at) %> ago.
  </span>
</li>
