<footer class="footer">
  <small>
    <a href="http://www.creatigeek.com/">An Enginerding Learning Funscursion</a>
    by Vanessa P Wallis
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",	about_path %></li>
      <li><a href="http://www.linkedin.com/in/vanessapwallis">Maker of Awesome</a></li>
    </ul>
  </nav>
</footer>